<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openmlperf -->
      <package
            uri="http://www.unipampa.lesse.org/openmlperf"
            class="openmlperf.OpenmlperfPackage"
            genModel="model/openmlperf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openmlperf -->
      <package
            uri="http://www.unipampa.lesse.org/openmlperfPerformanceMetricMonitoring"
            class="openmlperf.openmlperfPerformanceMonitoring.OpenmlperfPerformanceMonitoringPackage"
            genModel="model/openmlperf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openmlperf -->
      <package
            uri="http://www.unipampa.lesse.org/openmlperfPerformanceMetric"
            class="openmlperf.openmlperfPerformanceMonitoring.openmlperfPerformanceMetric.OpenmlperfPerformanceMetricPackage"
            genModel="model/openmlperf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openmlperf -->
      <package
            uri="http://www.unipampa.lesse.org/openmlperfPerformanceScenario"
            class="openmlperf.openmlperfPerformanceScenario.OpenmlperfPerformanceScenarioPackage"
            genModel="model/openmlperf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openmlperf -->
      <package
            uri="http://www.unipampa.lesse.org/openmlperfPerformanceWorkload"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceWorkload.OpenmlperfPerformanceWorkloadPackage"
            genModel="model/openmlperf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openmlperf -->
      <package
            uri="http://www.unipampa.lesse.org/openmlperfPerformanceScripting"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.OpenmlperfPerformanceScriptingPackage"
            genModel="model/openmlperf.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated openmlperf -->
      <package
            uri="http://www.unipampa.lesse.org/openmlperfPerfoamnceExternalFile"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.openmlperfPerformanceExternalFile.OpenmlperfPerformanceExternalFilePackage"
            genModel="model/openmlperf.genmodel"/>
   </extension>

</plugin>
