<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated openmlperf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="openmlperf.presentation.OpenmlperfModelWizardID"
            name="%_UI_OpenmlperfModelWizard_label"
            class="openmlperf.presentation.OpenmlperfModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpenmlperfModelFile.gif">
         <description>%_UI_OpenmlperfModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated openmlperf -->
      <editor
            id="openmlperf.presentation.OpenmlperfEditorID"
            name="%_UI_OpenmlperfEditor_label"
            icon="icons/full/obj16/OpenmlperfModelFile.gif"
            extensions="openmlperf"
            class="openmlperf.presentation.OpenmlperfEditor"
            contributorClass="openmlperf.presentation.OpenmlperfActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated openmlperf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="openmlperf.openmlperfPerformanceMonitoring.presentation.OpenmlperfPerformanceMonitoringModelWizardID"
            name="%_UI_OpenmlperfPerformanceMonitoringModelWizard_label"
            class="openmlperf.openmlperfPerformanceMonitoring.presentation.OpenmlperfPerformanceMonitoringModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpenmlperfPerformanceMonitoringModelFile.gif">
         <description>%_UI_OpenmlperfPerformanceMonitoringModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated openmlperf -->
      <editor
            id="openmlperf.openmlperfPerformanceMonitoring.presentation.OpenmlperfPerformanceMonitoringEditorID"
            name="%_UI_OpenmlperfPerformanceMonitoringEditor_label"
            icon="icons/full/obj16/OpenmlperfPerformanceMonitoringModelFile.gif"
            extensions="openmlperfperformancemonitoring"
            class="openmlperf.openmlperfPerformanceMonitoring.presentation.OpenmlperfPerformanceMonitoringEditor"
            contributorClass="openmlperf.openmlperfPerformanceMonitoring.presentation.OpenmlperfPerformanceMonitoringActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated openmlperf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="openmlperf.openmlperfPerformanceMonitoring.openmlperfPerformanceMetric.presentation.OpenmlperfPerformanceMetricModelWizardID"
            name="%_UI_OpenmlperfPerformanceMetricModelWizard_label"
            class="openmlperf.openmlperfPerformanceMonitoring.openmlperfPerformanceMetric.presentation.OpenmlperfPerformanceMetricModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpenmlperfPerformanceMetricModelFile.gif">
         <description>%_UI_OpenmlperfPerformanceMetricModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated openmlperf -->
      <editor
            id="openmlperf.openmlperfPerformanceMonitoring.openmlperfPerformanceMetric.presentation.OpenmlperfPerformanceMetricEditorID"
            name="%_UI_OpenmlperfPerformanceMetricEditor_label"
            icon="icons/full/obj16/OpenmlperfPerformanceMetricModelFile.gif"
            extensions="openmlperfperformancemetric"
            class="openmlperf.openmlperfPerformanceMonitoring.openmlperfPerformanceMetric.presentation.OpenmlperfPerformanceMetricEditor"
            contributorClass="openmlperf.openmlperfPerformanceMonitoring.openmlperfPerformanceMetric.presentation.OpenmlperfPerformanceMetricActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated openmlperf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="openmlperf.openmlperfPerformanceScenario.presentation.OpenmlperfPerformanceScenarioModelWizardID"
            name="%_UI_OpenmlperfPerformanceScenarioModelWizard_label"
            class="openmlperf.openmlperfPerformanceScenario.presentation.OpenmlperfPerformanceScenarioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpenmlperfPerformanceScenarioModelFile.gif">
         <description>%_UI_OpenmlperfPerformanceScenarioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated openmlperf -->
      <editor
            id="openmlperf.openmlperfPerformanceScenario.presentation.OpenmlperfPerformanceScenarioEditorID"
            name="%_UI_OpenmlperfPerformanceScenarioEditor_label"
            icon="icons/full/obj16/OpenmlperfPerformanceScenarioModelFile.gif"
            extensions="openmlperfperformancescenario"
            class="openmlperf.openmlperfPerformanceScenario.presentation.OpenmlperfPerformanceScenarioEditor"
            contributorClass="openmlperf.openmlperfPerformanceScenario.presentation.OpenmlperfPerformanceScenarioActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated openmlperf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceWorkload.presentation.OpenmlperfPerformanceWorkloadModelWizardID"
            name="%_UI_OpenmlperfPerformanceWorkloadModelWizard_label"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceWorkload.presentation.OpenmlperfPerformanceWorkloadModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpenmlperfPerformanceWorkloadModelFile.gif">
         <description>%_UI_OpenmlperfPerformanceWorkloadModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated openmlperf -->
      <editor
            id="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceWorkload.presentation.OpenmlperfPerformanceWorkloadEditorID"
            name="%_UI_OpenmlperfPerformanceWorkloadEditor_label"
            icon="icons/full/obj16/OpenmlperfPerformanceWorkloadModelFile.gif"
            extensions="openmlperfperformanceworkload"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceWorkload.presentation.OpenmlperfPerformanceWorkloadEditor"
            contributorClass="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceWorkload.presentation.OpenmlperfPerformanceWorkloadActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated openmlperf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.presentation.OpenmlperfPerformanceScriptingModelWizardID"
            name="%_UI_OpenmlperfPerformanceScriptingModelWizard_label"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.presentation.OpenmlperfPerformanceScriptingModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpenmlperfPerformanceScriptingModelFile.gif">
         <description>%_UI_OpenmlperfPerformanceScriptingModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated openmlperf -->
      <editor
            id="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.presentation.OpenmlperfPerformanceScriptingEditorID"
            name="%_UI_OpenmlperfPerformanceScriptingEditor_label"
            icon="icons/full/obj16/OpenmlperfPerformanceScriptingModelFile.gif"
            extensions="openmlperfperformancescripting"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.presentation.OpenmlperfPerformanceScriptingEditor"
            contributorClass="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.presentation.OpenmlperfPerformanceScriptingActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated openmlperf -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.openmlperfPerformanceExternalFile.presentation.OpenmlperfPerformanceExternalFileModelWizardID"
            name="%_UI_OpenmlperfPerformanceExternalFileModelWizard_label"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.openmlperfPerformanceExternalFile.presentation.OpenmlperfPerformanceExternalFileModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OpenmlperfPerformanceExternalFileModelFile.gif">
         <description>%_UI_OpenmlperfPerformanceExternalFileModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated openmlperf -->
      <editor
            id="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.openmlperfPerformanceExternalFile.presentation.OpenmlperfPerformanceExternalFileEditorID"
            name="%_UI_OpenmlperfPerformanceExternalFileEditor_label"
            icon="icons/full/obj16/OpenmlperfPerformanceExternalFileModelFile.gif"
            extensions="openmlperfperformanceexternalfile"
            class="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.openmlperfPerformanceExternalFile.presentation.OpenmlperfPerformanceExternalFileEditor"
            contributorClass="openmlperf.openmlperfPerformanceScenario.openmlperfPerformanceScripting.openmlperfPerformanceExternalFile.presentation.OpenmlperfPerformanceExternalFileActionBarContributor">
      </editor>
   </extension>

</plugin>
